<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">New share for: </h1>

  <%= render @share.link %>

  <%= render "form", share: @share %>

  <%= link_to 'Back to shares', link_shares_path(@share.link), class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
