<ul class="flex navigation">
  <li class="mr-3 <%= active_class %>">
    <a class="inline-block border rounded py-1 px-3" href="/">All Links</a>
  </li>
  <li class="mr-3 <%= active_class "fastruby.io" %>">

    <a class="inline-block border rounded py-1 px-3" href="/?domain=FastRuby.io">FastRuby.io Links</a>
  </li>

  <li class="mr-3 <%= active_class "ombulabs.com" %>">
    <a class="inline-block border rounded py-1 px-3" href="/?domain=OmbuLabs.com">OmbuLabs Links</a>
  </li>

    <li class="mr-3 <%= active_class "upgradejs.com" %>">
    <a class="inline-block border rounded py-1 px-3" href="/?domain=UpgradeJS.com">UpgradeJS Links</a>
  </li>
</ul>