<p style="color: green"><%= notice %></p>

<div id="links">
  <% @links.each do |link| %>

    <div class="mb-6">
      <%= render link %>
      <p>
        <%= link_to "Show this link", link %>
      </p>
    </div>
  <% end %>
</div>
